@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* #FF900E #424242 Dark 02, #727272 Dark-03*/

/*! Shared Styles  */
.display-flex {
    display: flex;
}
.text-gray {
    color: #424242;
}
.text-light-gray {
    color: #727272;
}
.btn-primary {
    background-color: #ff900e;
    color: #ffffff;
    padding: 20px 24px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}
main {
    max-width: 90rem;
    margin: 0 auto;
}

main > section {
    margin-top: 8.125rem;
}
.text-primary {
    color: #ff900e;
}
/*! Header Styles  */
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

/*! Navbar Related Styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-weight: 700;
    font-size: 3rem;
}
.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-links {
    text-decoration: none;
    font-weight: 500;
}
.navbar,
.banner {
    max-width: 90rem;
    margin: 0 auto;
}
/*! Banner Related Styles */
.banner-content {
    max-width: 54rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}
.banner-title {
    font-weight: 700;
    font-size: 4rem;
}
.banner-image {
    width: 100%;
}

/*! Team and Features Related Styles */
.teams {
    align-items: center;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.our-features {
    margin-left: 8.125rem;
    max-width: 33.125rem;
}
.feature-title {
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list {
    font-weight: 500;
}

/*! Responsive Media Query */
@media screen and (max-width: 36rem) {
    .navbar,
    .nav-links {
        flex-direction: column;
        list-style: none;
        gap: 1rem;
    }
}
