@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* #FF900E #424242 Dark 02, #727272 Dark-03*/

body {
    margin: 0;
    padding: 0;
}
/*! Shared Styles  */
.display-flex {
    display: flex;
}
.text-gray {
    color: #424242;
}
.text-light-gray {
    color: #727272;
}
.btn-primary {
    background-color: #ff900e;
    color: #ffffff;
    padding: 20px 24px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}
main {
    max-width: 90rem;
    margin: 0 auto;
}

main > section {
    margin-top: 8.125rem;
}
.text-primary {
    color: #ff900e;
}
/*! Header Styles  */
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

/*! Navbar Related Styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-weight: 700;
    font-size: 3rem;
}
.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-links {
    text-decoration: none;
    font-weight: 500;
}
.navbar,
.banner {
    max-width: 90rem;
    margin: 0 auto;
}
/*! Banner Related Styles */
.banner-content {
    max-width: 54rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}
.banner-title {
    font-weight: 700;
    font-size: 4rem;
}
.banner-image {
    width: 100%;
}

/*! Team and Features Related Styles */
.teams {
    align-items: center;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.our-features {
    margin-left: 8.125rem;
    max-width: 33.125rem;
}

#quick-list {
    font-weight: 500;
}
/*! Features Section Related Styles */
.features {
    gap: 8.25rem;
}
#feature-section-title {
    border-left: 0.313rem solid #ff900e;
    padding-left: 1.25rem;
}
.feature-card {
    padding: 2.6rem;
    box-shadow: 0 0.25rem 1.875rem 0 rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
}
.feature-card,
.feature-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0px;
    margin-top: 0px;
}
#experience-badge {
    padding: 2.625rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -6.25rem;
    margin-top: -7rem;
}
#experience-year {
    font-size: 4rem;
    font-weight: 700;
}
/* .feature-image img {
    width: 100%;
} */

/*! Some facts Related Styles */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card {
    border: 0.063rem solid #ff900e;
    width: 15rem;
    height: 15rem;
    border-radius: 0.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 0.313rem;
    margin-bottom: 0.625rem;
}
.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0.625rem;
}

/*!Sponsor Related Styles */
.sponsor-info {
    max-width: 33.75rem;
    margin: 3.125rem auto;
    text-align: center;
}
.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies > img {
    filter: grayscale(100%);
}

/*! Footer Related Styles */
.footer-text {
    background-color: #fff4e7;
    padding: 2.5rem 0;
    border-radius: 0.5rem;
    max-width: 90rem;
    margin: 9rem auto;
    text-align: center;
    margin-bottom: 2rem;
}
/*! Responsive Media Query for Small Devices */
@media screen and (max-width: 36rem) {
    .navbar,
    .nav-links,
    .teams,
    .features {
        flex-direction: column;
        list-style: none;
        gap: 1rem;
    }
    .team-img-container,
    .facts-container,
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features {
        margin-left: 1.25rem;
    }
    .facts-container,
    .sponsor-companies {
        justify-items: center;
        gap: 1.5rem;
    }
    .fact-description {
        max-width: 33.75rem;
    }
    #experience-badge {
        margin-top: 1.25rem;
        margin-left: 2rem;
    }
    .footer-text {
        width: 90%;
    }
    .feature-image img {
        width: 100%;
    }
}

/*! Responsive Media Query for Medium Devices */
@media screen and (min-width: 36rem) and (max-width: 62rem) {
    .teams,
    .features {
        flex-direction: column;
    }
    .our-features {
        margin: 4rem auto;
    }
    .feature-description {
        margin-bottom: 2rem;
    }
    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
    .sponsor-companies {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        place-items: center;
    }
    .sponsor-info > p {
        width: 100%;
    }
    .feature-image img {
        width: 100%;
    }
    #experience-badge {
        margin-top: 1.25rem;
        margin-left: 1.25rem;
    }
    .footer-text {
        width: 90%;
    }
}
